.gameBlocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 330px;
  margin: 0 auto;
  margin-top: 20px;
}
.gameBlock {
  border: 2px black solid;
  background-color: #eee;
  height: 100px;
  cursor: pointer;
}
.img {
  width: 100%;
  height: 100%;
}
